
.bmi-container {
  margin: 50px auto;
  width: 50%;
  background-color: whitesmoke;
  border: 1px solid black;
  position: relative;
}
.bmi-container div {
  background-color: aquamarine;
  color: white;
  padding: 15px;
  font-size: 18px;
  color: black;
}
.bmi-container div span {
  font-size: 14px;
}

.bmi-container main {
  margin: 15px 0 25px 13px;
}

#bmi_wt,
#bmi_ht {
  width: 35%;
  height: 30px;
  border-radius: 20px;
  outline: none;
  padding-left: 10px;
  margin: 5px 0;
}

.bmi-container main #p1 {
  position: absolute;
  left: 72%;
  top: 48%;
  font-size: 35px;
}
.bmi-container main #p2 {
  position: absolute;
  left: 71.6%;
  top: 70%;
  font-size: 10 px;
}

#t1{
   position: relative ;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
